* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.body {
    width: 100vh;
    height: 100vh;
}

:root {
    --boolean-color: #011434
}

/* HEADER */
.header {
    display: grid;
    grid-template-columns: 50px 1fr;
    height: 60px;
    background-color: var(--boolean-color);
}

.logo-icon {
    width: 50px;
    place-self: center;
    padding-left: 10px;
}

/* MAIN */
.main {
display: grid;
grid-template-rows: 100px 1fr auto;
gap: 50px;
place-items: center;
}

.main-header {
    padding-top: 50px;
    font-size: 50px;
    font-style: italic;
    color: white;
    text-shadow: 1px 1px 5px red, 0 0 30px blue, 0 0 0.2px blue;
}

.detail-boolean-laptop {
    width: 500px;
    border: solid 3px var(--boolean-color);
    border-radius: 10px;
}

.detail-text {
    padding: 0 200px;
}

.detail-text > p {
    padding-bottom: 30px;
}

/* RETURN TO CARDS */

.return-to-cards-text {
    background-color: #00df6c;
    border: solid 5px var(--boolean-color);
    border-radius: 12px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;

    position: fixed;
    bottom: 60%;
    left: 20px;
}

.return-to-cards-text:hover {
    background-color: burlywood;
}

/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 5px;
    height: 60px;
    background-color: var(--boolean-color);
    position: relative;
    bottom: 0;
}

.copyright-symbol {
    align-self: center;
    color: white;
    font-size: 20px;
}

