* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  background-color: rgb(4, 4, 44);
  height: 60px;
}

.logo {
  width: 60px;
  height: auto;
}

.logo-2 {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.card {
  margin: 25px;
  width: 250px;
  height: 400px;
  border: 1px solid black;
  position: relative;
  border-radius: 10px;
}

.main-image {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
}

.lorem {
  padding: 15px;
}

.logo-box {
  text-align: right;
  padding: 10px;
}

.logo-box img {
  width: 35px;
  height: auto;
}

.hero {
  height: 500px;
  /* width: auto; */
  background-image: url("./assets/images/hero.jpg");
  background-position: bottom;
}
