* {
    margin: 0;
}

body {
    background-color: lightseagreen;
}

.container {
    display: grid;
    height: 100vh;
    grid-template:
        'header header header' 5%
        'hero hero hero' 20%
        'main main main' 1fr 'footer footer footer' 5%
    ;
}

/* =========================== Top-Bar =========================== */

.top-bar {
    grid-area: header;
    background-color: #01235b;
}

.top-container {
    display: grid;
    grid-template-columns: 60px auto;
}

.logo img {
    width: 56px;
}

/* =========================== Hero =========================== */

.hero {
    grid-area: hero;
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    background-image: url(./assets/images/hero.jpg);
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-position: 140%;
    margin-bottom: 5px;
}


.hero p {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.212);

    font-size: 22px;
    padding: 15px;
    color: white;
}



/* =========================== Main =========================== */


.main {
    grid-area: main;
    /* overflow: hidden; */
    overflow-y: scroll;
    display: grid;
    gap: 15px;
    padding: 50px 16%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
}

.main div {
    background-color: bisque;
}

/* =========================== Cards =========================== */

.card {
    display: grid;
    border: 1px solid black;
    border-radius: 3%;
    padding-bottom: 15px;
    grid-template-rows: auto;
    gap: 10px;
}

.card-img {
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.image-container {
    width: 100%;
    position: relative;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.overlay-image {
    position: absolute;
    width: 58px;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 100%;
}

.icons-container {
    display: grid;
    grid-template-columns: auto 100px;
}

.icons-container button {
    margin-left: 5px;
    width: 50%;
    height: 50%;
}

.icons {
    display: grid;
    padding-top: 10px;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 5px;
}

.icons img {
    width: 38px;
}

.card p {
    padding-left: 15px;
    padding-right: 25px;

}



/* =========================== Footer =========================== */


.footer {
    grid-area: footer;

    background-color: #01235b;
}


/* =========================== Responsiveness =========================== */


@media screen and (max-width: 480px) {
    .main {
        grid-template-columns: 1fr;
    }


}

@media screen and (min-width: 480px) and (max-width: 720px) {
    .main {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 720px) and (max-width: 980px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 980px) and (max-width: 1080px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
    }
}