* {
    margin: 0;
}

body {
    background-color: lightseagreen;
}

.container {
    display: grid;
    height: 100vh;
    grid-template:
        'header header header' 5%
        'main main main' 1fr 
        'footer footer footer' 5%
    ;
}

/* =========================== Top-Bar =========================== */

.top-bar {
    grid-area: header;
    background-color: #01235b;
}

.top-container {
    display: grid;
    grid-template-columns: 60px auto;
}

.logo img {
    width: 56px;
}


/* =========================== Main =========================== */


.main {
    grid-area: main;
    height: 1fr;
    overflow-y: scroll;
    display: grid;
    gap: 15px;
    padding: 50px 40%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: min-content;
}

.main div {
    background-color: bisque;
}

/* =========================== Cards =========================== */

.card {
    display: grid;
    border: 1px solid black;
    width: 500px;
    border-radius: 3%;
    padding-bottom: 15px;
    grid-template-rows: auto;
    gap: 10px;
}

.card-img {
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.image-container {
    width: 100%;
    position: relative;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.overlay-image {
    position: absolute;
    width: 60px;
    top: 6%;
    left: 78%;
    padding: 10px;
    border-radius: 100%;
}

.icons-container {
    display: grid;
    grid-template-columns: auto 100px;
}

.icons-container button {
    margin-left: 5px;
    width: 50%;
    height: 50%;
}

.icons {
    display: grid;
    padding-top: 10px;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 5px;
}

.icons img {
    width: 38px;
}

.card p {
    padding-left: 15px;
    padding-right: 25px;

}



/* =========================== Footer =========================== */


.footer {
    grid-area: footer;

    background-color: #01235b;
}