* {
    margin: 0;
    font-family: sans-serif;
}

header {
    position: sticky;
    background-color: rgb(10, 23, 55);
    color: white;
    height: 50px;
    padding: 10px;
}
footer {
    background-color: rgb(10, 23, 55);
    color: white;
    height: 50px;
    padding: 10px;
}


.hero-section{
    background-image: url(./assets/images/hero.jpg);
    height: 500px;
    display: grid;

}

.hero-text{
    place-self: center;
    color: white;
}




.laptop {
    width:100%;
    height: auto; 
    object-fit: contain;
}

.boolean-logo {
    height: 50px;
    border-radius: 50px;
    margin: 5px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.card div {
    position: absolute;
    bottom: 0;
    margin: 0px 10px  12px 10px;
    height: 100px;
}

.card div > img {
    width: 30px;
}

.card div > img:nth-of-type(1) {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    border-radius: 30px;
}

.card div > img:nth-of-type(2) {
    position: absolute;
    top: 15px;
    right: 50px;
    width: 30px;
    border-radius: 30px;
}

.card > div  {
    height: 110px;
    width: 220px;
}
.card > div > p {
    position: absolute;
    bottom: 5px;
    width: 200px;
    font-size: 14px;
}



main {
    margin: 20px 250px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px;
    padding: 5px;
}

.card {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    width: 240px;
    height: 360px;
}

.background {
    height: 900px;
}


