* {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
}

header,
footer {
  background-color: #011434;
  height: 50px;
  width: 100vw;
}

p, h1, a {
  text-align: center;
}


footer {
  position: absolute;
  bottom: 0;
}

body > img {
  max-width: 400px;
  display: block;
  margin: 30px auto;
}
